
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.frame-1-U7H {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-xwmu-Ekf {
    width: 100%;
    height: 27rem;
    position: relative;
    flex-shrink: 0;

    .contact-us-fDh {
      left: 29.7rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.7rem;
      position: absolute;
      top: 2.9rem;
      font-size: 2.2rem;
      font-weight: 700;
      white-space: nowrap;
      width: 14.6rem;
    }
    .any-question-or-remarks-just-write-us-a-massage-UB9 {
      height: 1.7rem;
      top: 6.8rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 35.4rem;
      left: 19.4rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #110e0e;
      white-space: nowrap;
      position: absolute;
    }
    .auto-group-77hq-Ygo {
      top: 10.6rem;
      display: flex;
      align-items: center;
      width: 24.8rem;
      height: 1.5rem;
      position: absolute;
      left: 19.8rem;

      .email-G71 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 18.3rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #060606;
        font-family: Inter, 'Source Sans Pro';
      }
      .name-nb9 {
        line-height: 1.2125;
        color: #080808;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .auto-group-abso-7tK {
      top: 12.1rem;
      display: flex;
      align-items: center;
      width: 36.7rem;
      height: 1.5rem;
      position: absolute;
      left: 19.4rem;

      .rectangle-4-2kP {
        width: 15rem;
        height: 1.5rem;
        background-color: #f0f0f0;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 6.7rem;
      }
      .rectangle-5-MGs {
        flex-shrink: 0;
        width: 15rem;
        height: 1.5rem;
        background-color: #f0f0f0;
        border-radius: 0.5rem;
      }
    }
    .auto-group-ltmd-5yZ {
      top: 23.5rem;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      border-radius: 1.5rem;
      height: 2rem;
      font-weight: 700;
      display: flex;
      left: 34.4rem;
      position: absolute;
      font-size: 1.2rem;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      width: 7.5rem;
      background-color: #dc6e2f;
    }
    .message-vjH {
      left: 19.4rem;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.2rem;
      position: absolute;
      top: 15rem;
      line-height: 1.2125;
      color: #000000;
      height: 1.5rem;
    }
    .rectangle-7-Rvw {
      width: 36.5rem;
      height: 5.2rem;
      position: absolute;
      left: 19.6rem;
      top: 16.7rem;
      background-color: #f0f0f0;
      border-radius: 0.5rem;
    }
  }
  .auto-group-9bbd-Lo1 {
    width: 100%;
    height: 23rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-2-sH9 {
      width: 76.8rem;
      height: 17.9rem;
      position: absolute;
      left: 0;
      top: 5.1rem;
      background-color: #dc6e2f;
    }
    .rectangle-3-oRh {
      border-radius: 1.5rem;
      width: 57rem;
      height: 15.6rem;
      position: absolute;
      left: 9.9rem;
      top: 1.8rem;
      background-color: #ffdfc1;
    }
    .ellipse-1-8D5 {
      border-radius: 2rem;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 36.2rem;
      top: 0;
      background-color: #dc6e2f;
    }
    .ellipse-3-G4P {
      top: 0;
      background-color: #dc6e2f;
      border-radius: 2rem;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 50.8rem;
    }
    .ellipse-2-noR {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.6rem;
      top: 0;
      background-color: #dc6e2f;
      border-radius: 2rem;
    }
    .email-XW7 {
      width: 3.2rem;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #080808;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.5rem;
      left: 21.6rem;
      top: 4.5rem;
    }
    .phone-E9d {
      height: 1.5rem;
      position: absolute;
      line-height: 1.2125;
      color: #080808;
      width: 3.8rem;
      left: 35.9rem;
      top: 5rem;
      font-size: 1.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .office-address-YRD {
      font-family: Inter, 'Source Sans Pro';
      width: 8.7rem;
      height: 1.5rem;
      position: absolute;
      left: 47.7rem;
      top: 5rem;
      font-size: 1.2rem;
      color: #322c2c;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .page-1-FaX {
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 2.6rem;
      position: absolute;
      left: 22.4rem;
      top: 0.7rem;
    }
    .vector-N9M {
      vertical-align: top;
      width: 1.7rem;
      height: 2.4rem;
      position: absolute;
      left: 52rem;
      top: 0.8rem;
      object-fit: contain;
    }
    .vector-6LF {
      vertical-align: top;
      width: 2.1rem;
      height: 1.9rem;
      position: absolute;
      left: 37.2rem;
      top: 1rem;
      object-fit: contain;
    }
    .abcgmailcom-2Uo {
      width: 9rem;
      position: absolute;
      font-size: 1.2rem;
      line-height: 1.2125;
      white-space: nowrap;
      height: 1.5rem;
      left: 19.4rem;
      top: 9.3rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-919876546789-918574734978-KTu {
      position: absolute;
      color: #000000;
      height: 3rem;
      left: 33.4rem;
      top: 8.6rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 9.5rem;
    }
    .the-complex-skill-lama-pvt-ltd-kanpur-india-PyZ {
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      width: 10.2rem;
      height: 4.4rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      left: 47.7rem;
      top: 8.4rem;
      line-height: 1.2125;
    }
  }
}
