
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 65.7rem;
}.line-3-itP {
  width: 100%;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
