* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  a {
    text-decoration: none;
    color: white;
  }
}

.container {
  height: auto;
  background-color: #fb7a03;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 25px 0;
}

.highlightsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 85%;
  padding: 10px 0px;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
  background-color: orange;
  /* box-shadow: 5px 7px 7px rgba(47, 44, 44, 0.799); */
}

.icons {
  font-size: 30px;
}

.highlightsContainerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3px;
  padding: 12px;
}

.footerItemsContainer {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  /* padding: 5px 7px; */
  color: white;
}

.footerItem {
  width: 200px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.socialMedia {
  display: flex;
  gap: 15px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 25px 0;
  }
  .highlightsContainer {
    display: flex;
    flex-direction: column;
  }
  .footerItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .linksContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-size: 12px;
  }
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .footerItem {
    width: auto;
    text-align: center;
  }
  .siteLogoText {
    font-size: 12px;
  }
}
