
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-VYb {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.desktop-1-VYb .frame-1-62b {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fee8d6;
}
.desktop-1-VYb .frame-1-62b .main-oLK {
  width: 105.9rem;
  height: 65.3rem;
  position: absolute;
  left: 31.5rem;
  top: 18.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
  background-color: rgba(254, 131, 0, 0.8600000143);
  border-radius: 1.7rem;
}
.desktop-1-VYb .frame-1-62b .address-TQs {
  width: 40.9rem;
  height: 56rem;
  position: absolute;
  left: 11.1rem;
  top: 23.2rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.400000006);
  background-color: rgba(21, 23, 22, 0.8999999762);
  border-radius: 3rem;
}
.desktop-1-VYb .frame-1-62b .contact-info-81D {
  width: 21.8rem;
  height: 4.4rem;
  position: absolute;
  left: 19.8rem;
  top: 28.2rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fee8d6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-VYb .frame-1-62b .contact-info-81r {
  width: 21.8rem;
  height: 4.4rem;
  position: absolute;
  left: 19.8rem;
  top: 28.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fee8d6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-VYb .frame-1-62b .send-a-message-xkw {
  width: 31.4rem;
  height: 4.9rem;
  position: absolute;
  left: 63.2rem;
  top: 23.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ff5500;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-VYb .frame-1-62b .send-a-message-xkw .send-a-message-xkw-sub-0 {
}
.desktop-1-VYb .frame-1-62b .send-a-message-xkw .send-a-message-xkw-sub-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fedbb2;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-VYb .frame-1-62b .full-name-L9D {
  width: 9.4rem;
  height: 2.5rem;
  position: absolute;
  left: 60.1rem;
  top: 33.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fedbb2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-VYb .frame-1-62b .line-1-ChD {
  width: 52rem;
  height: 0.2rem;
  position: absolute;
  left: 60.1rem;
  top: 40.5rem;
  background-color: rgba(0, 0, 0, 0.8999999762);
}
.desktop-1-VYb .frame-1-62b .mobile-number-7JP {
  width: 14.6rem;
  height: 2.5rem;
  position: absolute;
  left: 93rem;
  top: 45.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fedbb2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-VYb .frame-1-62b .line-2-E87 {
  width: 29.3rem;
  height: 0.2rem;
  position: absolute;
  left: 96.8rem;
  top: 51.2rem;
  background-color: rgba(0, 0, 0, 0.8999999762);
}
.desktop-1-VYb .frame-1-62b .write-your-messagee-here-mNw {
  width: 25rem;
  height: 2.5rem;
  position: absolute;
  left: 60.1rem;
  top: 56rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fedbb2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-VYb .frame-1-62b .rectangle-2-sgs {
  width: 14.9rem;
  height: 5rem;
  position: absolute;
  left: 61.4rem;
  top: 71rem;
  background-color: rgba(15, 15, 15, 0.8999999762);
  border-radius: 1.4rem;
}
