
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 54.4rem;
}.email-1564-svgrepo-com-mr7 {
  box-sizing: border-box;
  padding-left: 0.625rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.email-1564-svgrepo-com-mr7 .auto-group-2lmd-giB {
  margin: 0rem 1.096rem 0.196rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .auto-group-2lmd-giB .address-svgrepo-com-1-oXu {
  margin: 0rem 0rem 7.565rem 0.36rem;
  width: 2.6098rem;
  height: 3.6001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .auto-group-2lmd-giB .page-1-v6j {
  margin: 0rem 0rem 5.86rem 0.171rem;
  width: 3.8rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .auto-group-2lmd-giB .phone-calling-svgrepo-com-2vT {
  margin: 0rem 0.665rem 6.121rem 0rem;
  width: 4.114rem;
  height: 4.1146rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .auto-group-2lmd-giB .linkedin-svgrepo-com-k5m {
  margin-left: 0.4708rem;
  width: 4.3083rem;
  height: 4.3083rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .auto-group-qopu-sRH {
  margin: 0rem 3rem 0.379rem 0rem;
  width: 14.4rem;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .auto-group-qopu-sRH .address-here-bcB {
  margin-bottom: 8.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.email-1564-svgrepo-com-mr7 .auto-group-qopu-sRH .email-here-WUF {
  margin-bottom: 8.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.email-1564-svgrepo-com-mr7 .auto-group-qopu-sRH .item-111-00010-01-FRq {
  margin-bottom: 8.9792rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.email-1564-svgrepo-com-mr7 .auto-group-qopu-sRH .auto-group-g7vp-BKV {
  margin-left: 2.2792rem;
  width: calc(100% - 2.2792rem);
  display: flex;
  align-items: flex-start;
}
.email-1564-svgrepo-com-mr7 .auto-group-qopu-sRH .auto-group-g7vp-BKV .instagram-svgrepo-com-iqD {
  margin-right: 3.9792rem;
  width: 3.9417rem;
  height: 3.9417rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .auto-group-qopu-sRH .auto-group-g7vp-BKV .page-1-3cb {
  margin-top: 0.1208rem;
  width: 4.2rem;
  height: 3.36rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .vector-9vX {
  margin: 0rem 3rem 0.7rem 0rem;
  width: 2.7rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .page-1-655 {
  margin: 0rem 16.4rem 1rem 0rem;
  width: 1.9rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .send-d51 {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2102272034;
  color: #fee8d6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.email-1564-svgrepo-com-mr7 .send-d51 .send-d51-sub-0 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fee8d6;
  font-family: Inter, 'Source Sans Pro';
}
.email-1564-svgrepo-com-mr7 .send-d51 .send-d51-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fee8d6;
  font-family: Inter, 'Source Sans Pro';
}
