
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.6rem;
}.email-address-ATZ {
  width: 100%;
  height: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fedbb2;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
